<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>LuckinCoffee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CartAddServlet</display-name>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>xywf.LuckinCoffee.servlet.CartAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/CartAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDeleteServlet</display-name>
    <servlet-name>CartDeleteServlet</servlet-name>
    <servlet-class>xywf.LuckinCoffee.servlet.CartDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDeleteServlet</servlet-name>
    <url-pattern>/CartDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoffeeServlet</display-name>
    <servlet-name>CoffeeServlet</servlet-name>
    <servlet-class>xywf.LuckinCoffee.servlet.CoffeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoffeeServlet</servlet-name>
    <url-pattern>/CoffeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MagServlet</display-name>
    <servlet-name>MagServlet</servlet-name>
    <servlet-class>xywf.LuckinCoffee.servlet.MagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MagServlet</servlet-name>
    <url-pattern>/MagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>xywf.LuckinCoffee.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrRegister</display-name>
    <servlet-name>MgrRegister</servlet-name>
    <servlet-class>xywf.LuckinCoffee.servlet.MgrRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrRegister</servlet-name>
    <url-pattern>/MgrRegister</url-pattern>
  </servlet-mapping>
</web-app>